---
// src/pages/index.astro
import Layout from '../layouts/layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import Testimonials from '../components/Testimonials.astro';
import RecentWork from '../components/RecentWork.astro';
---

<Layout title="Home">
  <main>
    <Hero />
    <Services />
    <WhyChooseUs />
    <Testimonials />
	<RecentWork />
  </main>
</Layout>